<table  style="width: 100%; padding: 10px;">
    <thead>
        <tr>
            <th style="text-align: left;">Id</th>
            <th style="text-align: left;">Nombre</th>
            <th style="text-align: left;">Apellido</th>
            <th style="text-align: left;">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entidad of listadoEntidades">
            <td>{{entidad.id}}</td>
            <td>{{entidad.Nombre}}</td>
            <td>{{entidad.Apellido}}</td>
            <td>
                <button (click)="VerEntidad(entidad)" mat-stroked-button>Ver</button>
            </td>
        </tr>
    </tbody>
</table>
