<table style="width: 100%; padding: 10px;">
    <thead>
        <tr>
            <th style="text-align: left;">Id</th>
            <th style="text-align: left;">Sexo</th>
            <th style="text-align: left;">email</th>
            <th style="text-align: left;">Nombre</th>
            <th style="text-align: left;">Apellido</th>
            <th style="text-align: left;">Fecha de nacimiento</th>
            <th style="text-align: left;">Foto de perfil</th>
        </tr>
    </thead>
    <tbody>
        <td>{{entidad.id}}</td>
        <td>{{entidad.Sexo}}</td>
        <td>{{entidad.email}}</td>
        <td>{{entidad.Nombre}}</td>
        <td>{{entidad.Apellido}}</td>
        <td>{{entidad.FechaNac}}</td>
        <td><img [src]="entidad.FotoPerfil"></td>
    </tbody>
</table>


