<div class="contenedor">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar>{{entidad.id}}</div>
            <mat-card-title>{{entidad.Apellido}}</mat-card-title>
            <mat-card-subtitle>{{entidad.Nombre}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="entidad.FotoPerfil" alt="Foto de la persona">
        <mat-card-content>
            <p>{{entidad.Sexo}}</p>
            <p>{{entidad.email}}</p>
            <p>{{entidad.FechaNac}}</p>
        </mat-card-content>
        <mat-card-actions>
            <app-boton-entidad [entidadUsuario]="entidad" (usuarioBorrado)="borrarEntidad($event)"></app-boton-entidad>
        </mat-card-actions>
      </mat-card>
</div>

